src/META-INF/wsdl/Hello_8080/HQWebServiceBean/HQWebServiceBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="HQWebServiceBean">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://Hello:8080/HQWebServiceBean/HQWebServiceBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getStoreByID">
<part name="parameters" element="tns:getStoreByID"/>
</message>
<message name="getStoreByIDResponse">
<part name="parameters" element="tns:getStoreByIDResponse"/>
</message>
<message name="createSalesRecord">
<part name="parameters" element="tns:createSalesRecord"/>
</message>
<message name="createSalesRecordResponse">
<part name="parameters" element="tns:createSalesRecordResponse"/>
</message>
<message name="getMemberLoyaltyPoints">
<part name="parameters" element="tns:getMemberLoyaltyPoints"/>
</message>
<message name="getMemberLoyaltyPointsResponse">
<part name="parameters" element="tns:getMemberLoyaltyPointsResponse"/>
</message>
<message name="posLoginStaff">
<part name="parameters" element="tns:posLoginStaff"/>
</message>
<message name="posLoginStaffResponse">
<part name="parameters" element="tns:posLoginStaffResponse"/>
</message>
<portType name="HQWebServiceBean">
<operation name="getStoreByID">
<input wsam:Action="http://WebServices/HQWebServiceBean/getStoreByIDRequest" message="tns:getStoreByID"/>
<output wsam:Action="http://WebServices/HQWebServiceBean/getStoreByIDResponse" message="tns:getStoreByIDResponse"/>
</operation>
<operation name="createSalesRecord">
<input wsam:Action="http://WebServices/HQWebServiceBean/createSalesRecordRequest" message="tns:createSalesRecord"/>
<output wsam:Action="http://WebServices/HQWebServiceBean/createSalesRecordResponse" message="tns:createSalesRecordResponse"/>
</operation>
<operation name="getMemberLoyaltyPoints">
<input wsam:Action="http://WebServices/HQWebServiceBean/getMemberLoyaltyPointsRequest" message="tns:getMemberLoyaltyPoints"/>
<output wsam:Action="http://WebServices/HQWebServiceBean/getMemberLoyaltyPointsResponse" message="tns:getMemberLoyaltyPointsResponse"/>
</operation>
<operation name="posLoginStaff">
<input wsam:Action="http://WebServices/HQWebServiceBean/posLoginStaffRequest" message="tns:posLoginStaff"/>
<output wsam:Action="http://WebServices/HQWebServiceBean/posLoginStaffResponse" message="tns:posLoginStaffResponse"/>
</operation>
</portType>
<binding name="HQWebServiceBeanPortBinding" type="tns:HQWebServiceBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStoreByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSalesRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberLoyaltyPoints">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posLoginStaff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HQWebServiceBean">
<port name="HQWebServiceBeanPort" binding="tns:HQWebServiceBeanPortBinding">
<soap:address location="http://Hello:8080/HQWebServiceBean/HQWebServiceBean"/>
</port>
</service>
</definitions>