xml-resources/web-service-references/RetailInventoryWebService/wsdl/localhost_8080/RetailInventoryWebService/RetailInventoryWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://RetailInventory.StoreTransaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RetailInventory.StoreTransaction/">

<xs:element name="alertSupervisor" type="tns:alertSupervisor"/>

<xs:element name="alertSupervisorResponse" type="tns:alertSupervisorResponse"/>

<xs:element name="checkIfCustomerNeedToWaitForPicker" type="tns:checkIfCustomerNeedToWaitForPicker"/>

<xs:element name="checkIfCustomerNeedToWaitForPickerResponse" type="tns:checkIfCustomerNeedToWaitForPickerResponse"/>

<xs:element name="getCountryCode" type="tns:getCountryCode"/>

<xs:element name="getCountryCodeResponse" type="tns:getCountryCodeResponse"/>

<xs:element name="getItemBySKU" type="tns:getItemBySKU"/>

<xs:element name="getItemBySKUResponse" type="tns:getItemBySKUResponse"/>

<xs:element name="getItemCountryPriceBySKU" type="tns:getItemCountryPriceBySKU"/>

<xs:element name="getItemCountryPriceBySKUResponse" type="tns:getItemCountryPriceBySKUResponse"/>

<xs:element name="getStoreAddressByID" type="tns:getStoreAddressByID"/>

<xs:element name="getStoreAddressByIDResponse" type="tns:getStoreAddressByIDResponse"/>

<xs:element name="getStoreMap" type="tns:getStoreMap"/>

<xs:element name="getStoreMapResponse" type="tns:getStoreMapResponse"/>

<xs:complexType name="alertSupervisor">
<xs:sequence>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
<xs:element name="supervisorTel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alertSupervisorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKUResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemHelper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemHelper">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="itemSKU" type="xs:string" minOccurs="0"/>
<xs:element name="qty" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemCountryPriceBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemCountryPriceBySKUResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreAddressByID">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreAddressByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfCustomerNeedToWaitForPicker">
<xs:sequence>
<xs:element name="receiptNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfCustomerNeedToWaitForPickerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreMap">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreMapResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountryCode">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountryCodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>