xml-resources/web-service-references/StoreWebServiceBean/wsdl/Hello_8080/StoreWebServiceBean/StoreWebServiceBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="StoreWebServiceBean">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://Hello:8080/StoreWebServiceBean/StoreWebServiceBean?xsd=1"/>
</xsd:schema>
</types>
<message name="submitSalesRecord">
<part name="parameters" element="tns:submitSalesRecord"/>
</message>
<message name="submitSalesRecordResponse">
<part name="parameters" element="tns:submitSalesRecordResponse"/>
</message>
<message name="getItemCountryPriceBySKU">
<part name="parameters" element="tns:getItemCountryPriceBySKU"/>
</message>
<message name="getItemCountryPriceBySKUResponse">
<part name="parameters" element="tns:getItemCountryPriceBySKUResponse"/>
</message>
<message name="getItemBySKU">
<part name="parameters" element="tns:getItemBySKU"/>
</message>
<message name="getItemBySKUResponse">
<part name="parameters" element="tns:getItemBySKUResponse"/>
</message>
<message name="callSupervisor">
<part name="parameters" element="tns:callSupervisor"/>
</message>
<message name="callSupervisorResponse">
<part name="parameters" element="tns:callSupervisorResponse"/>
</message>
<message name="alertSupervisor">
<part name="parameters" element="tns:alertSupervisor"/>
</message>
<message name="alertSupervisorResponse">
<part name="parameters" element="tns:alertSupervisorResponse"/>
</message>
<portType name="StoreWebServiceBean">
<operation name="submitSalesRecord">
<input wsam:Action="http://WebServices/StoreWebServiceBean/submitSalesRecordRequest" message="tns:submitSalesRecord"/>
<output wsam:Action="http://WebServices/StoreWebServiceBean/submitSalesRecordResponse" message="tns:submitSalesRecordResponse"/>
</operation>
<operation name="getItemCountryPriceBySKU">
<input wsam:Action="http://WebServices/StoreWebServiceBean/getItemCountryPriceBySKURequest" message="tns:getItemCountryPriceBySKU"/>
<output wsam:Action="http://WebServices/StoreWebServiceBean/getItemCountryPriceBySKUResponse" message="tns:getItemCountryPriceBySKUResponse"/>
</operation>
<operation name="getItemBySKU">
<input wsam:Action="http://WebServices/StoreWebServiceBean/getItemBySKURequest" message="tns:getItemBySKU"/>
<output wsam:Action="http://WebServices/StoreWebServiceBean/getItemBySKUResponse" message="tns:getItemBySKUResponse"/>
</operation>
<operation name="callSupervisor">
<input wsam:Action="http://WebServices/StoreWebServiceBean/callSupervisorRequest" message="tns:callSupervisor"/>
<output wsam:Action="http://WebServices/StoreWebServiceBean/callSupervisorResponse" message="tns:callSupervisorResponse"/>
</operation>
<operation name="alertSupervisor">
<input wsam:Action="http://WebServices/StoreWebServiceBean/alertSupervisorRequest" message="tns:alertSupervisor"/>
<output wsam:Action="http://WebServices/StoreWebServiceBean/alertSupervisorResponse" message="tns:alertSupervisorResponse"/>
</operation>
</portType>
<binding name="StoreWebServiceBeanPortBinding" type="tns:StoreWebServiceBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="submitSalesRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemCountryPriceBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alertSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StoreWebServiceBean">
<port name="StoreWebServiceBeanPort" binding="tns:StoreWebServiceBeanPortBinding">
<soap:address location="http://Hello:8080/StoreWebServiceBean/StoreWebServiceBean"/>
</port>
</service>
</definitions>