xml-resources/web-service-references/PromotionalSalesWebService/wsdl/localhost_8080/PromotionalSalesWebService/PromotionalSalesWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://PromotionalSales.OperationalCRM/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PromotionalSales.OperationalCRM/">

<xs:element name="getActivePromotionInCountry" type="tns:getActivePromotionInCountry"/>

<xs:element name="getActivePromotionInCountryResponse" type="tns:getActivePromotionInCountryResponse"/>

<xs:element name="getPromotionRate" type="tns:getPromotionRate"/>

<xs:element name="getPromotionRateResponse" type="tns:getPromotionRateResponse"/>

<xs:complexType name="getActivePromotionInCountry">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActivePromotionInCountryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromotionRate">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromotionRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>