src/META-INF/wsdl/Hello_8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LoyaltyAndRewards.OperationalCRM/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LoyaltyAndRewards.OperationalCRM/" name="LoyaltyAndRewardsWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://LoyaltyAndRewards.OperationalCRM/" schemaLocation="http://Hello:8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMemberLoyaltyPoints">
<part name="parameters" element="tns:getMemberLoyaltyPoints"/>
</message>
<message name="getMemberLoyaltyPointsResponse">
<part name="parameters" element="tns:getMemberLoyaltyPointsResponse"/>
</message>
<message name="getMemberViaEmail">
<part name="parameters" element="tns:getMemberViaEmail"/>
</message>
<message name="getMemberViaEmailResponse">
<part name="parameters" element="tns:getMemberViaEmailResponse"/>
</message>
<message name="getMemberViaCard">
<part name="parameters" element="tns:getMemberViaCard"/>
</message>
<message name="getMemberViaCardResponse">
<part name="parameters" element="tns:getMemberViaCardResponse"/>
</message>
<portType name="LoyaltyAndRewardsWebService">
<operation name="getMemberLoyaltyPoints">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberLoyaltyPointsRequest" message="tns:getMemberLoyaltyPoints"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberLoyaltyPointsResponse" message="tns:getMemberLoyaltyPointsResponse"/>
</operation>
<operation name="getMemberViaEmail">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaEmailRequest" message="tns:getMemberViaEmail"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaEmailResponse" message="tns:getMemberViaEmailResponse"/>
</operation>
<operation name="getMemberViaCard">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaCardRequest" message="tns:getMemberViaCard"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaCardResponse" message="tns:getMemberViaCardResponse"/>
</operation>
</portType>
<binding name="LoyaltyAndRewardsWebServicePortBinding" type="tns:LoyaltyAndRewardsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMemberLoyaltyPoints">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberViaEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberViaCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoyaltyAndRewardsWebService">
<port name="LoyaltyAndRewardsWebServicePort" binding="tns:LoyaltyAndRewardsWebServicePortBinding">
<soap:address location="http://Hello:8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService"/>
</port>
</service>
</definitions>