xml-resources/web-service-references/AccountManagementWebService/wsdl/localhost_8080/AccountManagementWebService/AccountManagementWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AccountManagement.CommonInfrastructure/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AccountManagement.CommonInfrastructure/" name="AccountManagementWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://AccountManagement.CommonInfrastructure/" schemaLocation="http://localhost:8080/AccountManagementWebService/AccountManagementWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMemberShoppingList">
<part name="parameters" element="tns:getMemberShoppingList"/>
</message>
<message name="getMemberShoppingListResponse">
<part name="parameters" element="tns:getMemberShoppingListResponse"/>
</message>
<message name="kioskRegisterMember">
<part name="parameters" element="tns:kioskRegisterMember"/>
</message>
<message name="kioskRegisterMemberResponse">
<part name="parameters" element="tns:kioskRegisterMemberResponse"/>
</message>
<message name="posLoginStaff">
<part name="parameters" element="tns:posLoginStaff"/>
</message>
<message name="posLoginStaffResponse">
<part name="parameters" element="tns:posLoginStaffResponse"/>
</message>
<portType name="AccountManagementWebService">
<operation name="getMemberShoppingList">
<input wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/getMemberShoppingListRequest" message="tns:getMemberShoppingList"/>
<output wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/getMemberShoppingListResponse" message="tns:getMemberShoppingListResponse"/>
</operation>
<operation name="kioskRegisterMember">
<input wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/kioskRegisterMemberRequest" message="tns:kioskRegisterMember"/>
<output wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/kioskRegisterMemberResponse" message="tns:kioskRegisterMemberResponse"/>
</operation>
<operation name="posLoginStaff">
<input wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/posLoginStaffRequest" message="tns:posLoginStaff"/>
<output wsam:Action="http://AccountManagement.CommonInfrastructure/AccountManagementWebService/posLoginStaffResponse" message="tns:posLoginStaffResponse"/>
</operation>
</portType>
<binding name="AccountManagementWebServicePortBinding" type="tns:AccountManagementWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMemberShoppingList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kioskRegisterMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posLoginStaff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountManagementWebService">
<port name="AccountManagementWebServicePort" binding="tns:AccountManagementWebServicePortBinding">
<soap:address location="http://localhost:8080/AccountManagementWebService/AccountManagementWebService"/>
</port>
</service>
</definitions>