src/META-INF/wsdl/localhost_8080/SalesReportingWebService/SalesReportingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://SalesReporting.StoreTransaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SalesReporting.StoreTransaction/">

<xs:element name="submitSalesRecord" type="tns:submitSalesRecord"/>

<xs:element name="submitSalesRecordResponse" type="tns:submitSalesRecordResponse"/>

<xs:complexType name="submitSalesRecord">
<xs:sequence>
<xs:element name="staffEmail" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
<xs:element name="itemsPurchasedSKU" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="itemsPurchasedQty" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="amountDue" type="xs:double" minOccurs="0"/>
<xs:element name="amountPaid" type="xs:double" minOccurs="0"/>
<xs:element name="amountPaidUsingPoints" type="xs:double" minOccurs="0"/>
<xs:element name="loyaltyPointsDeducted" type="xs:int" minOccurs="0"/>
<xs:element name="memberEmail" type="xs:string" minOccurs="0"/>
<xs:element name="receiptNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitSalesRecordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>