xml-resources/web-service-references/RetailInventoryWebService/wsdl/192.168.1.200_8080/RetailInventoryWebService/RetailInventoryWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://RetailInventory.StoreTransaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RetailInventory.StoreTransaction/">

<xs:element name="alertSupervisor" type="tns:alertSupervisor"/>

<xs:element name="alertSupervisorResponse" type="tns:alertSupervisorResponse"/>

<xs:element name="checkIfCustomerNeedToWaitForPicker" type="tns:checkIfCustomerNeedToWaitForPicker"/>

<xs:element name="checkIfCustomerNeedToWaitForPickerResponse" type="tns:checkIfCustomerNeedToWaitForPickerResponse"/>

<xs:element name="getCountryCode" type="tns:getCountryCode"/>

<xs:element name="getCountryCodeResponse" type="tns:getCountryCodeResponse"/>

<xs:element name="getItemBySKU" type="tns:getItemBySKU"/>

<xs:element name="getItemBySKUResponse" type="tns:getItemBySKUResponse"/>

<xs:element name="getItemCountryPriceBySKU" type="tns:getItemCountryPriceBySKU"/>

<xs:element name="getItemCountryPriceBySKUResponse" type="tns:getItemCountryPriceBySKUResponse"/>

<xs:element name="getStoreAddressByID" type="tns:getStoreAddressByID"/>

<xs:element name="getStoreAddressByIDResponse" type="tns:getStoreAddressByIDResponse"/>

<xs:complexType name="alertSupervisor">
<xs:sequence>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
<xs:element name="supervisorTel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alertSupervisorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKUResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemHelper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemHelper">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="itemSKU" type="xs:string" minOccurs="0"/>
<xs:element name="qty" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemCountryPriceBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemCountryPriceBySKUResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfCustomerNeedToWaitForPicker">
<xs:sequence>
<xs:element name="receiptNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkIfCustomerNeedToWaitForPickerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreAddressByID">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreAddressByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountryCode">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCountryCodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>