xml-resources/web-service-references/LoyaltyAndRewardsWebService/wsdl/localhost_8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://LoyaltyAndRewards.OperationalCRM/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://LoyaltyAndRewards.OperationalCRM/">

<xs:element name="countryEntity" type="tns:countryEntity"/>

<xs:element name="createSyncWithPhoneRequest" type="tns:createSyncWithPhoneRequest"/>

<xs:element name="createSyncWithPhoneRequestResponse" type="tns:createSyncWithPhoneRequestResponse"/>

<xs:element name="getMemberLoyaltyPoints" type="tns:getMemberLoyaltyPoints"/>

<xs:element name="getMemberLoyaltyPointsResponse" type="tns:getMemberLoyaltyPointsResponse"/>

<xs:element name="getMemberViaCard" type="tns:getMemberViaCard"/>

<xs:element name="getMemberViaCardResponse" type="tns:getMemberViaCardResponse"/>

<xs:element name="getMemberViaEmail" type="tns:getMemberViaEmail"/>

<xs:element name="getMemberViaEmailResponse" type="tns:getMemberViaEmailResponse"/>

<xs:element name="getSyncWithPhoneStatus" type="tns:getSyncWithPhoneStatus"/>

<xs:element name="getSyncWithPhoneStatusResponse" type="tns:getSyncWithPhoneStatusResponse"/>

<xs:element name="itemEntity" type="tns:itemEntity"/>

<xs:element name="loyaltyTierEntity" type="tns:loyaltyTierEntity"/>

<xs:element name="manufacturingFacilityEntity" type="tns:manufacturingFacilityEntity"/>

<xs:element name="memberEntity" type="tns:memberEntity"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="regionalOfficeEntity" type="tns:regionalOfficeEntity"/>

<xs:element name="storeEntity" type="tns:storeEntity"/>

<xs:element name="tieMemberToSyncRequest" type="tns:tieMemberToSyncRequest"/>

<xs:element name="tieMemberToSyncRequestResponse" type="tns:tieMemberToSyncRequestResponse"/>

<xs:element name="warehouseEntity" type="tns:warehouseEntity"/>

<xs:complexType name="getMemberViaCard">
<xs:sequence>
<xs:element name="memberCard" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberViaCardResponse">
<xs:sequence>
<xs:element name="return" type="tns:memberEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberEntity">
<xs:sequence>
<xs:element name="accountActivationStatus" type="xs:boolean" minOccurs="0"/>
<xs:element name="accountLockStatus" type="xs:boolean" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="cummulativeSpending" type="xs:double" minOccurs="0"/>
<xs:element name="DOB" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="income" type="xs:int" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="joinDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="loyaltyCardId" type="xs:string" minOccurs="0"/>
<xs:element name="loyaltyPoints" type="xs:int" minOccurs="0"/>
<xs:element name="loyaltyTier" type="tns:loyaltyTierEntity" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passwordHash" type="xs:string" minOccurs="0"/>
<xs:element name="passwordSalt" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="securityAnswer" type="xs:string" minOccurs="0"/>
<xs:element name="securityQuestion" type="xs:int" minOccurs="0"/>
<xs:element name="shoppingList" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="wishList" type="tns:wishListEntity" minOccurs="0"/>
<xs:element name="zipCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countryEntity">
<xs:sequence>
<xs:element name="countryCode" type="xs:int" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="exchangeRate" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contactNo" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="purchaseOrders" type="tns:purchaseOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
<xs:element name="supplyingItems" type="tns:supplierItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderEntity">
<xs:sequence>
<xs:element name="destination" type="tns:warehouseEntity" minOccurs="0"/>
<xs:element name="expectedReceivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="submittedBy" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="warehouseEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="manufaturingFacility" type="tns:manufacturingFacilityEntity" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouseName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacturingFacilityEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="saleAndOperationPlanList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regionalOfficeEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleAndOperationPlanEntity">
<xs:sequence>
<xs:element name="currentInventoryLevel" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="manufacturingFacility" type="tns:manufacturingFacilityEntity" minOccurs="0"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
<xs:element name="productionPlan" type="xs:int" minOccurs="0"/>
<xs:element name="saleForcast" type="tns:saleForecastEntity" minOccurs="0"/>
<xs:element name="saleForcastdata" type="xs:int" minOccurs="0"/>
<xs:element name="schedule" type="tns:monthScheduleEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="targetInventoryLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productGroupEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="lineItemList" type="tns:productGroupLineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="lotSize" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="productGroupName" type="xs:string" minOccurs="0"/>
<xs:element name="saleForcastEntityList" type="tns:saleForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sopList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="workHours" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productGroupLineItemEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="percent" type="xs:double"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity" abstract="true">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="stores" type="tns:storeItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="suppliers" type="tns:supplierItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="warehouses" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeItemEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="safeStock" type="xs:int" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="items" type="tns:storeItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="pickRequest" type="tns:pickRequestEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="storeMapImageURL" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickRequestEntity">
<xs:sequence>
<xs:element name="dateCalled" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateCompleted" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateSubmitted" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="items" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="picker" type="tns:staffEntity" minOccurs="0"/>
<xs:element name="queueNo" type="xs:string" minOccurs="0"/>
<xs:element name="salesRecord" type="tns:salesRecordEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lineItemEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="packType" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="staffEntity">
<xs:sequence>
<xs:element name="accessRightList" type="tns:accessRightEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="accountActivationStatus" type="xs:boolean" minOccurs="0"/>
<xs:element name="accountLockStatus" type="xs:boolean" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="identificationNo" type="xs:string" minOccurs="0"/>
<xs:element name="inboxMessages" type="tns:messageInboxEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="invalidLoginAttempt" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passwordHash" type="xs:string" minOccurs="0"/>
<xs:element name="passwordSalt" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="roles" type="tns:roleEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="securityAnswer" type="xs:string" minOccurs="0"/>
<xs:element name="securityQuestion" type="xs:int" minOccurs="0"/>
<xs:element name="sentMessages" type="tns:messageOutboxEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="toDoList" type="tns:toDoEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accessRightEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="manufacturingFacility" type="tns:manufacturingFacilityEntity" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="role" type="tns:roleEntity" minOccurs="0"/>
<xs:element name="staff" type="tns:staffEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roleEntity">
<xs:sequence>
<xs:element name="accessLevel" type="xs:string" minOccurs="0"/>
<xs:element name="accessRightList" type="tns:accessRightEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="staffs" type="tns:staffEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messageInboxEntity">
<xs:complexContent>
<xs:extension base="tns:messageEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="messageEntity" abstract="true">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="messageRead" type="xs:boolean" minOccurs="0"/>
<xs:element name="receivers" type="tns:staffEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sender" type="tns:staffEntity" minOccurs="0"/>
<xs:element name="sentDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messageOutboxEntity">
<xs:complexContent>
<xs:extension base="tns:messageEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="toDoEntity">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesRecordEntity">
<xs:sequence>
<xs:element name="amountDue" type="xs:double" minOccurs="0"/>
<xs:element name="amountPaid" type="xs:double" minOccurs="0"/>
<xs:element name="amountPaidUsingPoints" type="xs:double" minOccurs="0"/>
<xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemsPurchased" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="loyaltyPointsDeducted" type="xs:int" minOccurs="0"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
<xs:element name="receiptNo" type="xs:string" minOccurs="0"/>
<xs:element name="servedByStaff" type="xs:string" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierItemEntity">
<xs:sequence>
<xs:element name="costPrice" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="leadTime" type="xs:int" minOccurs="0"/>
<xs:element name="lotSize" type="xs:int" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleForecastEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="menuItem" type="tns:menuItemEntity" minOccurs="0"/>
<xs:element name="method" type="xs:string" minOccurs="0"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="schedule" type="tns:monthScheduleEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menuItemEntity">
<xs:complexContent>
<xs:extension base="tns:itemEntity">
<xs:sequence>
<xs:element name="imageURL" type="xs:string" minOccurs="0"/>
<xs:element name="recipe" type="tns:recipeEntity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="recipeEntity">
<xs:sequence>
<xs:element name="broadLotSize" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="listOfLineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="menuItem" type="tns:menuItemEntity" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthScheduleEntity">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="month" type="xs:int" minOccurs="0"/>
<xs:element name="sopList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workDays_fifthWeek" type="xs:int" minOccurs="0"/>
<xs:element name="workDays_firstWeek" type="xs:int" minOccurs="0"/>
<xs:element name="workDays_forthWeek" type="xs:int" minOccurs="0"/>
<xs:element name="workDays_secondWeek" type="xs:int" minOccurs="0"/>
<xs:element name="workDays_thirdWeek" type="xs:int" minOccurs="0"/>
<xs:element name="year" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loyaltyTierEntity">
<xs:sequence>
<xs:element name="amtOfSpendingRequired" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="tier" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wishListEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="items" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSyncWithPhoneStatus">
<xs:sequence>
<xs:element name="qrCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSyncWithPhoneStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSyncWithPhoneRequest">
<xs:sequence>
<xs:element name="qrCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSyncWithPhoneRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberLoyaltyPoints">
<xs:sequence>
<xs:element name="memberEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberLoyaltyPointsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMemberViaEmail">
<xs:sequence>
<xs:element name="memberEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberViaEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:memberEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tieMemberToSyncRequest">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="qrCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tieMemberToSyncRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>