xml-resources/web-service-references/LoyaltyAndRewardsWebService/wsdl/localhost_8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LoyaltyAndRewards.OperationalCRM/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LoyaltyAndRewards.OperationalCRM/" name="LoyaltyAndRewardsWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://LoyaltyAndRewards.OperationalCRM/" schemaLocation="http://localhost:8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMemberViaCard">
<part name="parameters" element="tns:getMemberViaCard"/>
</message>
<message name="getMemberViaCardResponse">
<part name="parameters" element="tns:getMemberViaCardResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="getMemberViaEmail">
<part name="parameters" element="tns:getMemberViaEmail"/>
</message>
<message name="getMemberViaEmailResponse">
<part name="parameters" element="tns:getMemberViaEmailResponse"/>
</message>
<message name="getSyncWithPhoneStatus">
<part name="parameters" element="tns:getSyncWithPhoneStatus"/>
</message>
<message name="getSyncWithPhoneStatusResponse">
<part name="parameters" element="tns:getSyncWithPhoneStatusResponse"/>
</message>
<message name="tieMemberToSyncRequest">
<part name="parameters" element="tns:tieMemberToSyncRequest"/>
</message>
<message name="tieMemberToSyncRequestResponse">
<part name="parameters" element="tns:tieMemberToSyncRequestResponse"/>
</message>
<message name="getMemberLoyaltyPoints">
<part name="parameters" element="tns:getMemberLoyaltyPoints"/>
</message>
<message name="getMemberLoyaltyPointsResponse">
<part name="parameters" element="tns:getMemberLoyaltyPointsResponse"/>
</message>
<message name="createSyncWithPhoneRequest">
<part name="parameters" element="tns:createSyncWithPhoneRequest"/>
</message>
<message name="createSyncWithPhoneRequestResponse">
<part name="parameters" element="tns:createSyncWithPhoneRequestResponse"/>
</message>
<portType name="LoyaltyAndRewardsWebService">
<operation name="getMemberViaCard">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaCardRequest" message="tns:getMemberViaCard"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaCardResponse" message="tns:getMemberViaCardResponse"/>
</operation>
<operation name="persist">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="getMemberViaEmail">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaEmailRequest" message="tns:getMemberViaEmail"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberViaEmailResponse" message="tns:getMemberViaEmailResponse"/>
</operation>
<operation name="getSyncWithPhoneStatus">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getSyncWithPhoneStatusRequest" message="tns:getSyncWithPhoneStatus"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getSyncWithPhoneStatusResponse" message="tns:getSyncWithPhoneStatusResponse"/>
</operation>
<operation name="tieMemberToSyncRequest">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/tieMemberToSyncRequestRequest" message="tns:tieMemberToSyncRequest"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/tieMemberToSyncRequestResponse" message="tns:tieMemberToSyncRequestResponse"/>
</operation>
<operation name="getMemberLoyaltyPoints">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberLoyaltyPointsRequest" message="tns:getMemberLoyaltyPoints"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/getMemberLoyaltyPointsResponse" message="tns:getMemberLoyaltyPointsResponse"/>
</operation>
<operation name="createSyncWithPhoneRequest">
<input wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/createSyncWithPhoneRequestRequest" message="tns:createSyncWithPhoneRequest"/>
<output wsam:Action="http://LoyaltyAndRewards.OperationalCRM/LoyaltyAndRewardsWebService/createSyncWithPhoneRequestResponse" message="tns:createSyncWithPhoneRequestResponse"/>
</operation>
</portType>
<binding name="LoyaltyAndRewardsWebServicePortBinding" type="tns:LoyaltyAndRewardsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMemberViaCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberViaEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSyncWithPhoneStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tieMemberToSyncRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberLoyaltyPoints">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSyncWithPhoneRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoyaltyAndRewardsWebService">
<port name="LoyaltyAndRewardsWebServicePort" binding="tns:LoyaltyAndRewardsWebServicePortBinding">
<soap:address location="http://localhost:8080/LoyaltyAndRewardsWebService/LoyaltyAndRewardsWebService"/>
</port>
</service>
</definitions>