xml-resources/web-service-references/POSWebServiceBean/wsdl/Hello_8080/POSWebServiceBean/POSWebServiceBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://RetailInventoryControl.Store_InventoryManagement/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RetailInventoryControl.Store_InventoryManagement/">

<xs:element name="createSalesRecord" type="tns:createSalesRecord"/>

<xs:element name="createSalesRecordResponse" type="tns:createSalesRecordResponse"/>

<xs:element name="getItemBySKU" type="tns:getItemBySKU"/>

<xs:element name="getItemBySKUResponse" type="tns:getItemBySKUResponse"/>

<xs:element name="getItemCountryBySKU" type="tns:getItemCountryBySKU"/>

<xs:element name="getItemCountryBySKUResponse" type="tns:getItemCountryBySKUResponse"/>

<xs:element name="getMemberLoyaltyPointsAmount" type="tns:getMemberLoyaltyPointsAmount"/>

<xs:element name="getMemberLoyaltyPointsAmountResponse" type="tns:getMemberLoyaltyPointsAmountResponse"/>

<xs:complexType name="getItemCountryBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemCountryBySKUResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemCountryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemCountryEntity">
<xs:sequence>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="retailPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countryEntity">
<xs:sequence>
<xs:element name="countryCode" type="xs:int" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="exchangeRate" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="stores" type="tns:storeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="supplier" type="tns:supplierEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="suppliers" type="tns:supplierEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="warehouses" type="tns:warehouseEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="countryEntity" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="manufacturingFacilityList" type="tns:manufacturingFacilityEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="saleAndOperationPlanList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="saleForcastList" type="tns:saleForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="salesFigureList" type="tns:salesFigureEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacturingFacilityEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="saleAndOperationPlanList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeList" type="tns:storeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regionalOfficeEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="manufacturingFacilityEntityList" type="tns:manufacturingFacilityEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="storeList" type="tns:storeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="warehouseList" type="tns:warehouseEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="warehouseEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="manufaturingFacility" type="tns:manufacturingFacilityEntity" minOccurs="0"/>
<xs:element name="purchaseOrderEntityList" type="tns:purchaseOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="regionalOffice" type="tns:regionalOfficeEntity" minOccurs="0"/>
<xs:element name="storageBins" type="tns:storageBinEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="transferOrders" type="tns:transferOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="warehouseName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderEntity">
<xs:sequence>
<xs:element name="expectedReceivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receivedWarehouse" type="tns:warehouseEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="submittedBy" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lineItemEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="packType" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="salesRecord" type="tns:salesRecordEntity" minOccurs="0"/>
<xs:element name="shippingOrder" type="tns:shippingOrderEntity" minOccurs="0"/>
<xs:element name="storageBin" type="tns:storageBinEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity" abstract="true">
<xs:sequence>
<xs:element name="batch" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="itemCountryList" type="tns:itemCountryEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="warehouses" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contactNo" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:countryEntity" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="items" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="purchaseOrders" type="tns:purchaseOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesRecordEntity">
<xs:sequence>
<xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemsPurchased" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="paymentAmount" type="xs:long" minOccurs="0"/>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shippingOrderEntity">
<xs:sequence>
<xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="destination" type="tns:warehouseEntity" minOccurs="0"/>
<xs:element name="expectedReceivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="origin" type="tns:warehouseEntity" minOccurs="0"/>
<xs:element name="receivedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="shippedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="submittedBy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storageBinEntity">
<xs:sequence>
<xs:element name="freeVolume" type="xs:int" minOccurs="0"/>
<xs:element name="height" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="length" type="xs:int" minOccurs="0"/>
<xs:element name="listOfLineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
<xs:element name="width" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferOrderEntity">
<xs:sequence>
<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateTransferred" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="lineItem" type="tns:lineItemEntity" minOccurs="0"/>
<xs:element name="origin" type="tns:storageBinEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="submittedBy" type="xs:string" minOccurs="0"/>
<xs:element name="target" type="tns:storageBinEntity" minOccurs="0"/>
<xs:element name="warehouse" type="tns:warehouseEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleAndOperationPlanEntity">
<xs:sequence>
<xs:element name="currentInventoryLevel" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="manufacturingFacility" type="tns:manufacturingFacilityEntity" minOccurs="0"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
<xs:element name="productionPlan" type="xs:int" minOccurs="0"/>
<xs:element name="saleForcast" type="tns:saleForecastEntity" minOccurs="0"/>
<xs:element name="saleForcastdata" type="xs:int" minOccurs="0"/>
<xs:element name="schedule" type="tns:monthScheduleEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="targetInventoryLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productGroupEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="lineItemList" type="tns:productGroupLineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="lotSize" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="productGroupName" type="xs:string" minOccurs="0"/>
<xs:element name="saleForcastEntityList" type="tns:saleForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sopList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workHours" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productGroupLineItemEntity">
<xs:sequence>
<xs:element name="furniture" type="tns:furnitureEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="percent" type="xs:double"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="furnitureEntity">
<xs:complexContent>
<xs:extension base="tns:itemEntity">
<xs:sequence>
<xs:element name="BOM" type="tns:billOfMaterialEntity" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="imageURL" type="xs:string" minOccurs="0"/>
<xs:element name="productGroupLineItemEntity" type="tns:productGroupLineItemEntity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="billOfMaterialEntity">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="furniture" type="tns:furnitureEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="listOfLineItems" type="tns:lineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleForecastEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="schedule" type="tns:monthScheduleEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthScheduleEntity">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="month" type="xs:int" minOccurs="0"/>
<xs:element name="sopList" type="tns:saleAndOperationPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="year" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesFigureEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="productGroup" type="tns:productGroupEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="schedule" type="tns:monthScheduleEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSalesRecord">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
<xs:element name="posName" type="xs:string" minOccurs="0"/>
<xs:element name="itemsPurchased" type="tns:lineItemEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSalesRecordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKU">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemBySKUResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberLoyaltyPointsAmount">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberLoyaltyPointsAmountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>