xml-resources/web-service-references/POSWebServiceBean/wsdl/Hello_8080/POSWebServiceBean/POSWebServiceBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RetailInventoryControl.Store_InventoryManagement/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RetailInventoryControl.Store_InventoryManagement/" name="POSWebServiceBean">
<types>
<xsd:schema>
<xsd:import namespace="http://RetailInventoryControl.Store_InventoryManagement/" schemaLocation="http://Hello:8080/POSWebServiceBean/POSWebServiceBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getItemBySKU">
<part name="parameters" element="tns:getItemBySKU"/>
</message>
<message name="getItemBySKUResponse">
<part name="parameters" element="tns:getItemBySKUResponse"/>
</message>
<message name="getMemberLoyaltyPointsAmount">
<part name="parameters" element="tns:getMemberLoyaltyPointsAmount"/>
</message>
<message name="getMemberLoyaltyPointsAmountResponse">
<part name="parameters" element="tns:getMemberLoyaltyPointsAmountResponse"/>
</message>
<message name="getItemCountryBySKU">
<part name="parameters" element="tns:getItemCountryBySKU"/>
</message>
<message name="getItemCountryBySKUResponse">
<part name="parameters" element="tns:getItemCountryBySKUResponse"/>
</message>
<message name="createSalesRecord">
<part name="parameters" element="tns:createSalesRecord"/>
</message>
<message name="createSalesRecordResponse">
<part name="parameters" element="tns:createSalesRecordResponse"/>
</message>
<portType name="POSWebServiceBean">
<operation name="getItemBySKU">
<input wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getItemBySKURequest" message="tns:getItemBySKU"/>
<output wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getItemBySKUResponse" message="tns:getItemBySKUResponse"/>
</operation>
<operation name="getMemberLoyaltyPointsAmount">
<input wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getMemberLoyaltyPointsAmountRequest" message="tns:getMemberLoyaltyPointsAmount"/>
<output wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getMemberLoyaltyPointsAmountResponse" message="tns:getMemberLoyaltyPointsAmountResponse"/>
</operation>
<operation name="getItemCountryBySKU">
<input wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getItemCountryBySKURequest" message="tns:getItemCountryBySKU"/>
<output wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/getItemCountryBySKUResponse" message="tns:getItemCountryBySKUResponse"/>
</operation>
<operation name="createSalesRecord">
<input wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/createSalesRecordRequest" message="tns:createSalesRecord"/>
<output wsam:Action="http://RetailInventoryControl.Store_InventoryManagement/POSWebServiceBean/createSalesRecordResponse" message="tns:createSalesRecordResponse"/>
</operation>
</portType>
<binding name="POSWebServiceBeanPortBinding" type="tns:POSWebServiceBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getItemBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberLoyaltyPointsAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemCountryBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSalesRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="POSWebServiceBean">
<port name="POSWebServiceBeanPort" binding="tns:POSWebServiceBeanPortBinding">
<soap:address location="http://Hello:8080/POSWebServiceBean/POSWebServiceBean"/>
</port>
</service>
</definitions>