src/META-INF/wsdl/Hello_8080/AccountManagementWebService/AccountManagementWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://AccountManagement.CommonInfrastructure/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AccountManagement.CommonInfrastructure/">

<xs:element name="kioskRegisterMember" type="tns:kioskRegisterMember"/>

<xs:element name="kioskRegisterMemberResponse" type="tns:kioskRegisterMemberResponse"/>

<xs:element name="posLoginStaff" type="tns:posLoginStaff"/>

<xs:element name="posLoginStaffResponse" type="tns:posLoginStaffResponse"/>

<xs:complexType name="kioskRegisterMember">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kioskRegisterMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posLoginStaff">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posLoginStaffResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>