src/META-INF/wsdl/192.168.1.200_8080/AccountManagementWebService/AccountManagementWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://AccountManagement.CommonInfrastructure/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://AccountManagement.CommonInfrastructure/">

<xs:element name="getMemberShoppingList" type="tns:getMemberShoppingList"/>

<xs:element name="getMemberShoppingListResponse" type="tns:getMemberShoppingListResponse"/>

<xs:element name="kioskRegisterMember" type="tns:kioskRegisterMember"/>

<xs:element name="kioskRegisterMemberResponse" type="tns:kioskRegisterMemberResponse"/>

<xs:element name="posLoginStaff" type="tns:posLoginStaff"/>

<xs:element name="posLoginStaffResponse" type="tns:posLoginStaffResponse"/>

<xs:complexType name="kioskRegisterMember">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="DOB" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="zipCode" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kioskRegisterMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberShoppingList">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberShoppingListResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemHelper" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemHelper">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="itemSKU" type="xs:string" minOccurs="0"/>
<xs:element name="qty" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posLoginStaff">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posLoginStaffResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>