src/META-INF/wsdl/192.168.1.200_8080/PromotionalSalesWebService/PromotionalSalesWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://PromotionalSales.OperationalCRM/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PromotionalSales.OperationalCRM/">

<xs:element name="getActivePromotionInCountry" type="tns:getActivePromotionInCountry"/>

<xs:element name="getActivePromotionInCountryResponse" type="tns:getActivePromotionInCountryResponse"/>

<xs:element name="getPromotionRate" type="tns:getPromotionRate"/>

<xs:element name="getPromotionRateResponse" type="tns:getPromotionRateResponse"/>

<xs:complexType name="getActivePromotionInCountry">
<xs:sequence>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActivePromotionInCountryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromotionRate">
<xs:sequence>
<xs:element name="SKU" type="xs:string" minOccurs="0"/>
<xs:element name="storeID" type="xs:long" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromotionRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>