src/META-INF/wsdl/localhost_8080/RetailInventoryWebService/RetailInventoryWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RetailInventory.StoreTransaction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RetailInventory.StoreTransaction/" name="RetailInventoryWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://RetailInventory.StoreTransaction/" schemaLocation="http://localhost:8080/RetailInventoryWebService/RetailInventoryWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getItemBySKU">
<part name="parameters" element="tns:getItemBySKU"/>
</message>
<message name="getItemBySKUResponse">
<part name="parameters" element="tns:getItemBySKUResponse"/>
</message>
<message name="getStoreAddressByID">
<part name="parameters" element="tns:getStoreAddressByID"/>
</message>
<message name="getStoreAddressByIDResponse">
<part name="parameters" element="tns:getStoreAddressByIDResponse"/>
</message>
<message name="getItemCountryPriceBySKU">
<part name="parameters" element="tns:getItemCountryPriceBySKU"/>
</message>
<message name="getItemCountryPriceBySKUResponse">
<part name="parameters" element="tns:getItemCountryPriceBySKUResponse"/>
</message>
<message name="checkIfCustomerNeedToWaitForPicker">
<part name="parameters" element="tns:checkIfCustomerNeedToWaitForPicker"/>
</message>
<message name="checkIfCustomerNeedToWaitForPickerResponse">
<part name="parameters" element="tns:checkIfCustomerNeedToWaitForPickerResponse"/>
</message>
<message name="getCountryCode">
<part name="parameters" element="tns:getCountryCode"/>
</message>
<message name="getCountryCodeResponse">
<part name="parameters" element="tns:getCountryCodeResponse"/>
</message>
<message name="alertSupervisor">
<part name="parameters" element="tns:alertSupervisor"/>
</message>
<message name="alertSupervisorResponse">
<part name="parameters" element="tns:alertSupervisorResponse"/>
</message>
<message name="getStoreMap">
<part name="parameters" element="tns:getStoreMap"/>
</message>
<message name="getStoreMapResponse">
<part name="parameters" element="tns:getStoreMapResponse"/>
</message>
<portType name="RetailInventoryWebService">
<operation name="getItemBySKU">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getItemBySKURequest" message="tns:getItemBySKU"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getItemBySKUResponse" message="tns:getItemBySKUResponse"/>
</operation>
<operation name="getStoreAddressByID">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getStoreAddressByIDRequest" message="tns:getStoreAddressByID"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getStoreAddressByIDResponse" message="tns:getStoreAddressByIDResponse"/>
</operation>
<operation name="getItemCountryPriceBySKU">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getItemCountryPriceBySKURequest" message="tns:getItemCountryPriceBySKU"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getItemCountryPriceBySKUResponse" message="tns:getItemCountryPriceBySKUResponse"/>
</operation>
<operation name="checkIfCustomerNeedToWaitForPicker">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/checkIfCustomerNeedToWaitForPickerRequest" message="tns:checkIfCustomerNeedToWaitForPicker"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/checkIfCustomerNeedToWaitForPickerResponse" message="tns:checkIfCustomerNeedToWaitForPickerResponse"/>
</operation>
<operation name="getCountryCode">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getCountryCodeRequest" message="tns:getCountryCode"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getCountryCodeResponse" message="tns:getCountryCodeResponse"/>
</operation>
<operation name="alertSupervisor">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/alertSupervisorRequest" message="tns:alertSupervisor"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/alertSupervisorResponse" message="tns:alertSupervisorResponse"/>
</operation>
<operation name="getStoreMap">
<input wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getStoreMapRequest" message="tns:getStoreMap"/>
<output wsam:Action="http://RetailInventory.StoreTransaction/RetailInventoryWebService/getStoreMapResponse" message="tns:getStoreMapResponse"/>
</operation>
</portType>
<binding name="RetailInventoryWebServicePortBinding" type="tns:RetailInventoryWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getItemBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStoreAddressByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemCountryPriceBySKU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkIfCustomerNeedToWaitForPicker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountryCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alertSupervisor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStoreMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RetailInventoryWebService">
<port name="RetailInventoryWebServicePort" binding="tns:RetailInventoryWebServicePortBinding">
<soap:address location="http://localhost:8080/RetailInventoryWebService/RetailInventoryWebService"/>
</port>
</service>
</definitions>